<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science 
- List Commmon Libraries for Data Science 
- Create table for Data Science tools
- Create and execute arithimetic expressions

Some of the popular languages that Data Scientists use are:
1. C++
2. Java
3. Python

Some of the common libraries are:
1. Matplotlib
2. Numpy
3. Pandas

| Data Science Tools |
| ------------------|
| MySQL |
| PostgreSQL | 
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
hours = (200/60)
print(hours)

3.3333333333333335

## Author
Hamid Rodriguez